@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-rain {
  background-image: url(../images/BackgroundRain.svg);
}
:root {
  --primary-color: #f0f8ff;
  --text-h1-color: #0F172A;
  --text-h2-color: #0F172A;
  --text-h3-color: #0F172A;
  --text-h4-color: #0F172A;
  --text-h5-color: #0F172A;
  --text-p-color: #0F172A;
  --card-color: #cbd5e1;
  --card-2-color: #d9e1ee;
  --tt: aliceblue;
}
.home_shrink{
  width: 100%;

  top: 0;
  left: 0;
  z-index: 999;
  transition: 300ms ease-in-out;
}
.nav_shrink {
  position: sticky;
  background-color: rgba(54, 56, 59, 0.8) !important;
  transition: 300ms ease-in-out;
}
main.primary-color {
  background-color: var(--primary-color);
}

h1 {
  @apply font-bold mb-5 font-mono text-5xl;
  color: var(--text-h1-color);
}

h2 {
  @apply text-4xl font-mono font-semibold;
  color: var(--text-h2-color);
}

h3 {
  @apply text-3xl font-mono font-medium;
  color: var(--text-h3-color);
}

h4 {
  @apply text-2xl font-mono font-normal;
  color: var(--text-h4-color);
}

h5 {
  @apply text-xl font-mono font-light;
  color: var(--text-h5-color);
}

p {
  @apply text-justify text-lg font-mono;
  color: var(--text-p-color);
}
.constant {
  background: rgba(0, 0, 0, 0.11);
  box-shadow: 0 2px 2px 0 rgba(54, 54, 54, 0.705);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.678);
}
.paddings{
  @apply sm:p-16 px-6 py-12;
}
.yPaddings {
  @apply sm:py-16 py-12;
}
.card_1{
  @apply p-5 shadow shadow-slate-600 rounded-xl;
  background-color: var(--card-color);
}
.card_2{
  @apply p-5 shadow shadow-slate-600 rounded-xl;
  background-color: var(--card-2-color);
}
.scroll-top {
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 105%;
  right: 30px;
  font-size: 16px;
  border-radius: 4px;
  z-index: 999;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  background: #203793;
  transition: 300ms ease;
  border: none;
}
.scroll-top.open {
  bottom: 15%;
}

/* ScrollBar */
::-webkit-scrollbar-thumb {
  background: #291874;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}