.bg-home{
  background: url(../images/home.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--bg-home-start)
}
.home_section{
  @apply lg:h-screen  container mx-auto flex justify-center items-center;
}

.home_image { 
  @apply col-span-5 w-96 md:w-full flex flex-wrap justify-center items-center ;
}

.home_image .home_image_image {
  @apply rounded-xl shadow-3xl shadow-slate-400;
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-50px);
  }
  75% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

.home_text{
  @apply col-span-3 flex flex-wrap flex-col justify-center items-center  text-white p-8 rounded-xl;
  animation: mover 40s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.home_text h1 {
  @apply lg:text-7xl font-bold mb-2 md:!text-6xl;
  color: var(--text-home-start);
}

.home_text h3 {
  @apply lg:text-4xl font-semibold mb-4;
  color: var(--text-home-start);
}

.home_text p {
  @apply text-center text-xl mb-4;
  color: var(--text-home-start);
}

.home_buttons{
  @apply duration-700 transition-all flex gap-5;
}

.home_buttons .button_howtouse{
  @apply rounded-xl lg:px-10 px-5 !text-sm bg-slate-600   lg:text-lg font-bold text-white py-4 hover:bg-slate-700 hover:shadow-lg hover:-translate-y-1 transition duration-500;
}

.button_start {
  @apply rounded-xl lg:px-10 px-5 !text-sm bg-blue-600  lg:text-lg font-bold text-white py-4 hover:bg-slate-700 hover:shadow-lg hover:-translate-y-1 transition duration-500;
}

