.button-back {
  @apply bg-red-500 text-white font-bold py-2 px-4 rounded hover:bg-red-300 active:bg-red-400;
}

.button-go {
  @apply bg-green-500 text-white font-bold py-2 px-4 rounded hover:bg-green-300 active:bg-green-400;
}

.bg-road {
  @apply m-2 p-1 rounded-lg;
  background-image: url(../images/background-scenery.jpg);
  background-size: 100% 20%;
  background-position: bottom;
  background-repeat: no-repeat;
}
td{
  @apply border border-slate-700 shadow-sm shadow-slate-300 px-4 py-2;
}