/* Hero start */
.hero_text { 
  @apply mx-5;
}
.hero_text h1{
  @apply text-blue-600 text-6xl leading-none ;
}
.hero_text h2{
  @apply  mb-2 ;
}
.hero_typewriter{
  @apply text-blue-600 text-3xl;
}

/* Hero end */

/* GoBack Start */
.goback_section {
  @apply bg-slate-200 p-5 rounded-lg shadow-3xl shadow-slate-300 container mx-auto ;
}
.goback_text { 
  @apply col-span-1 flex justify-center items-center;
}
.goback_text h3 { 
  @apply mb-5;
}
.goback_button-go {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-300 active:bg-blue-400;
}

.button-back {
  @apply bg-blue-500 hover:bg-blue-700 text-white text-sm font-bold py-2 px-4 rounded;
}
.button-go {
  @apply bg-green-500 text-white font-bold py-2 px-4 rounded hover:bg-green-300 active:bg-green-400;
}
.button-reset {
  @apply bg-red-500 hover:bg-red-700 text-white text-sm font-bold py-2 px-4 rounded;
}
.button-auto {
  @apply bg-violet-500 hover:bg-violet-700 text-white text-sm font-bold py-2 px-4 rounded;
}
/* GoBack End */

/* Graphics Start */
.graphics_section {
  @apply bg-slate-200 rounded-lg shadow-3xl shadow-slate-300 container mx-auto my-20;
}
.graphics_text {
  @apply flex justify-center items-center;
}
.graphics_text_text {
  @apply px-5;
}
.graphics_section .graphics_graphics {
  @apply text-center font-bold font-mono ;
}
.graphics_section .graphics_graphics .graphics_graphics_graphic {
  @apply border p-2 border-slate-800 shadow-md shadow-slate-500 bg-slate-300 ;
}
.graphics_section .graphics_graphics .graphics_graphics_graphic h3 {
  @apply text-center text-2xl ;
}

.bg_simulate {
  background-image: url(../images/HowToUse/Play.svg);
  background-size: cover;
  background-repeat: no-repeat;
}


